/estuary
/filc
/barge
/estuary-dealer
/bsget
/benchest
/estuary-shuttle
/estuary-ar

estuary-blocks/*
estuary-leveldb/*
estuary-maddr
estuary-peer.key
estuary-wallet/*
estuary-write-log/*
estuary.db
estuary_calibnet.db

cidlistsdir/*

build/.*
