/scripts/tests/data/config/run.config
/scripts/tests/data/logs/*

/estuary
/filc
/barge
/estuary-dealer
/bsget
/benchest
/estuary-shuttle

estuary-blocks/
blocks/
estuary-leveldb/
estuary-wallet/
cidlistsdir/
estuary-maddr
estuary-wallet/*
estuary-write-log/*
estuary.db
estuary-shuttle.db
estuary_calibnet.db
leveldb/
wallet/
duplicateGuard/
pinQueue*/
stagingdata/
*.key
build/.*

tests/postman/jstests/*

.vscode
.envrc

.idea

**/.DS_Store
