ESTUARY_TOKEN=<TOKEN>
EST_HOST=https://api.estuary.tech
EST_SAMPLE_FILE=files/dummy.file
EST_SAMPLE_LARGE_FILE=files/large-file
EST_SAMPLE_DIR=files/dummy_dir

DWEB_HOST=https://dweb.link/ipfs
CID=bafkqaflunbuxgidjomqgcideovww26jamzuwyzik

UPLOAD_URLS=(https://upload.estuary.tech https://shuttle-4.estuary.tech https://shuttle-5.estuary.tech)