[Unit]
Description=Estuary Primary Node
After=network-online.target postgres.service

[Service]
EnvironmentFile=/etc/estuary/log.env
EnvironmentFile=/etc/estuary/config.env
ExecStart=/usr/local/bin/estuary --repo=${LOTUS_REPO} --database=${ESTUARY_DB_CONN} --datadir=${ESTUARY_DATA} --apilisten=${ESTUARY_API} --lightstep-token=${ESTUARY_LIGHTSTEP_TOKEN} --logging=false --fail-deals-on-transfer-failure --disable-deal-making=false --disable-content-adding=false --disable-local-content-adding=true
Restart=always
RestartSecs=10

[Install]
WantedBy=multi-user.target
