name: BuildSwaggerClients


on:
  workflow_run:
    workflows: ["Swagger docs"]
    types:
      - completed


jobs:
  BuildSwaggerClients:
    runs-on: ubuntu-latest
    container: swaggerapi/swagger-codegen-cli

    steps:
      - name: Build clients and push
        env:
          SSH_PRIVATE_KEY_ESTUARY_SWAGGER_CLIENTS: ${{ secrets.SSH_PRIVATE_KEY_ESTUARY_SWAGGER_CLIENTS }}
        run: |
          apk add git
          apk add curl
          apk add openssh
          printf "%s" "$SSH_PRIVATE_KEY_ESTUARY_SWAGGER_CLIENTS" > secret
          printf 'Host github.com\n   StrictHostKeyChecking no\n' > /etc/ssh/ssh_config
          chmod 400 secret
          eval `ssh-agent`
          ssh-add secret
          git clone git@github.com:application-research/estuary-clients.git
          cd estuary-clients
          sh build_all.sh
          git status | grep 'nothing to commit' || {
            git add *
            git config --global user.email "BuildBot@estuary-client.net"
            git config --global user.name "Build Bot"
            git commit -am "Commit from build bot. Github Actor $GITHUB_ACTOR. Job ID $GITHUB_JOB. Github Run Number $GITHUB_RUN_NUMBER."
            git push origin main
          }
